.jumbotron {
    background-color: #fff;
    background-image: url('../img/feetroad.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}
.jumbotron .container {
    max-width: 70rem;
  
    background: rgba(255,255,255, 0.2);
    padding: 2rem;
    color: white;
}
.jumbotron p {
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: center;
    font-weight: 400;
}
.jumbotron h1 {
    color: white;
    font-size: 60px;
}

.btn-success {
    color: #fff;
    background-color: #69793e;
    border-color: #69793e;
    margin-left: 500px;
    font-size: 20px;
}

.panel-default {
    border-color: orangered;
    border-width: thick;
    font-size: 20px;
}

.roadiefooter {
	background-color: #69793e;
	padding: 20px 0;
    opacity: 1;
}

a {
    color: #333;
    text-decoration: none;
    float: right;
}

#landNavbar {
    font-size: larger;
}