html, body {
    height: 100%;
}

body {
    text-rendering: optimizeLegibility;
    color: red;
}

h1,h2,h3,h4,h5,{
    color: #333;
}

h6 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

img {
    max-width: 100%;
}

.blockquote {
    font-size: 1.6rem;
    color: #333;
    border: none;
    padding: 0;
}

.blockquote-footer {
    margin: 1rem 0 0;
}

#stage {
    background: url('../img/landscape.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

#stage-caption {
    font-size: 1.4rem;
    font-weight: 200;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
}

#stage-caption h1 {
    color: white;
    font-weight: bold;
    text-transform: uppercase;

}

#stage-caption p {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}